{%- set conversationId = params.conversationId if params.conversationId else "" -%}

<div class="govuk-!-margin-top-8 govuk-!-padding-top-6" style="border-top: 1px solid #b1b4b6;">
  <h2 class="govuk-heading-m">Before you go</h2>
  <p class="govuk-body">
    <a href="/feedback?conversationId={{ conversationId }}" class="govuk-link" target="_blank" rel="noreferrer noopener">Take a short survey to share your feedback on this service (opens in new tab)</a>
  </p>
</div>
